<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/afaa36b8a2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>

<body>

    <div class="container">

        <h1>
            PTU by the Numbers
        </h1>
        <div class="box">

            <div class="items">
                <i class="fas fa-graduation-cap"></i>
                <div class="para">
                    <span>2105</span>
                    <p>Undergraduate Students</p>
                </div>
            </div>
            <div class="items">
                <i class="fas fa-graduation-cap"></i>
                <div class="para">
                    <span>2105</span>
                    <p>Undergraduate Students</p>
                </div>
            </div>
            <div class="items">
                <i class="fas fa-graduation-cap"></i>
                <div class="para">
                    <span>2105</span>
                    <p>Undergraduate Students</p>
                </div>
            </div>
            <div class="items">
                <i class="fas fa-graduation-cap"></i>
                <div class="para">
                    <span>2105</span>
                    <p>Undergraduate Students</p>
                </div>
            </div>
            <div class="items">
                <i class="fas fa-graduation-cap"></i>
                <div class="para">
                    <span>2105</span>
                    <p>Undergraduate Students</p>
                </div>
            </div>
            <div class="items">
                <i class="fas fa-graduation-cap"></i>
                <div class="para">
                    <span>2105</span>
                    <p>Undergraduate Students</p>
                </div>
            </div>
            <div class="items">
                <i class="fas fa-graduation-cap"></i>
                <div class="para">
                    <span>2105</span>
                    <p>Undergraduate Students</p>
                </div>
            </div>
            <div class="items">
                <i class="fas fa-graduation-cap"></i>
                <div class="para">
                    <span>2105</span>
                    <p>Undergraduate Students</p>
                </div>
            </div>
        </div>

    </div>

</body>

</html>