@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --font-color: #3a0505;
    --themeC: #a31b0f;
    --body-bg: #f6f6f6;
}
.ccParent{
    display: flex;
    flex-direction: column;
}
.MTech, .BTech, .MCA{
    display: flex;
    flex-direction: row;
}
body {
  color: var(--font-color);
    background: var(--body-bg);
   font-family: 'Noto Sans', sans-serif;
}
.ccCard{
  width: 400px;
   max-width: 86%;
  height: 300px;
   padding: 1rem;
   position: relative;
   border-radius: 4px;
  box-shadow: -6px 2px 26px #8f202000, inset 0px 0px 5px 8px #fdfdfd, inset 8px -9px 6px -5px #e0d3d31f, inset -7px 10px 6px -5px #13131336, 5px -5px 26px #5e5e5e1f;
  background: var(--bodyB);
   margin: 10vh auto;
   overflow: hidden;
}
.ccCard p{
   text-align: justify;
}
div.ccCard>.cctitle{
    text-align: center;
    margin: 20px auto 10px auto;
}
.ccyear{
    text-align: center;
    margin: 20px auto 30px auto;
}
div.ccCard>form{
  display: block;
}
div.ccCard>form>input, div.ccCard>form>button{
    outline: none;
    border: none;
    display: block;
    font-size: 1rem;
    margin: 2rem auto;  
}
div.ccCard>form>input{
    width: 100%;
    height: 3rem;
    padding: 0 1rem;
    color: var(--font-color);
    border-radius: 2rem;
    background: var(--bodyB);
    box-shadow: inset 3px 3px 7px rgb(187 187 187 / 48%), inset -6px -6px 7px #ffffff;
}
div.ccCard>form>input:focus {
    box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9, 7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
}

.cc-see-more{
    cursor: pointer;
    margin-top: 20px;;
    padding: 5px 20px;
    width: 50%;
    font-size: large;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    text-align: center;
    border-radius: 10px;
    color: white;
    background: var(--themeC);
    box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9, 7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
}
div.formC>form>button:hover{
    opacity: 90%;
}
div.ccbottom{
    font-size: 80%;
    text-align: center;
    /* margin: 2rem auto 1rem auto; */
    margin-top: 29px;
}
div.ccbottom>a{
    color: var(--font-color);
    text-decoration: underline;
}
@media only screen and (min-width: 768px) {
    div.ccCard{
        padding: 1rem 2rem;
    }
    div.ccCard>form>button{
        margin: 2rem 0;
    }
    div.ccbottom{
    font-size: 80%;
    text-align: center;
    margin-top: 29px;
  }
  .MTech, .BTech, .MCA{
    display: flex;
    flex-direction: row;
}
}