:root{
    --color : #ffe0e0;
}

/* faculty img */

.faculty-img{
    width:80px;
    height: 80px;
}

.big-cont p {
   margin: 10px 10px;
}

.btn-read{
    font-size: 18px;
    background-color: #656EAF;
    color: white;
}

.small{
    height: 500px;
    overflow-y: scroll;
}

.parts2{
    text-align: left;
}

.parts2 h5{
    text-align: left;
}

.parts2 h6{
    text-align: left;
}

/*  */

/* department header section */

.imgsec{
    width: 100%;
    height: 590px;
    overflow: hidden;
}

.imgsec img{
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    animation: zoom 60s ease-in-out infinite;
}

.text-box{
    position: absolute;
}

@keyframes zoom{
    0%{
        transform: none;
    }
    50%{
        transform: scale(2);
    }
    100%{
        transform: none;
    }
}

/*  */

.cse-dept{
   margin-top: 45px;
}

.testi-cards-hold{
    display: flex;
    overflow-x: hidden;
}

.testi-card{
    position: relative;
    display: inline-block;
    margin: 30px;
}

.arrow{
    width: 25px;
    height: 25px;
    background-color: var(--color);
    /* border-bottom: 2px solid gray; */
    /* border-right: 2px solid gray;; */
    transform: translate(36px, -20px) rotate(45deg);
}

.testi-img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid var(--color) ;
    margin: 0px 20px;
}

.card-img{
    padding: 6px 5px;
    border-top: none;
    align-items: center;
}

.card-text{
    width: 450px;
    height: auto;
    background: var(--color);
    box-shadow: 0 0 20px 8px #cfcaca24;
    border-radius: 5px;
    padding: 20px;
    position: relative;
}

.img-text{
    margin: 0px 20px;
    padding-left: 27px;
}

.img-text p, .card-text p{
    margin: 0px;
    width: 400px;
    height: auto;
}


.img-text h5{
   text-align: left;
}

.img-text p{
    width: 300px;
}

.testi-cards-hold{
    position: relative;
    overflow-x: hidden;
    animation: move 10s linear infinite;
} 

.testii{
    text-align: left;
    padding: 30px 0px 1px 0px;
    font-weight: 600;
    border-bottom: 1px solid;
    margin: 0px 50px;
    text-transform: capitalize;
}

.mark-hold{
    padding: 20px 40px;
}

.header_dept{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content:space-between;
    /* background-color: rgba(255, 255, 255, 0.75); */
    background-color: rgba(0, 0, 0, 0.75);
    padding: 1rem 2rem;
}

.header_dept .searchbar_dept{
    display: flex;
    padding: 1rem .5rem;
    
}

.header_dept .searchbar_dept input{
    border-radius: 5px;
    background:rgba(87, 87, 87, 0.75);
    outline:none;
    height: 100%;
    width: 100%;
    color: #fff;

}

.header_dept .searchbar_dept input::placeholder{
    color: #fff;
}

.search_icon{
    position: absolute;
    right: 10px;
    color: #fff;
}

.title_dept h3{
    padding: .5rem 2rem;
    color: #FFFFFF;
/* background: rgba(0, 0, 0, 0.55); */
text-shadow: 0 0 5px #FFF, 0 0 10px #FFF;
text-transform: uppercase;
}

.navbar_for_dept{
    position:sticky;
    top: 0;
    
    display: flex;
    padding: 1rem;
    justify-content:center;
    background: rgb(211, 38, 38);
    /* background: linear-gradient(90deg, rgba(255,184,184,1) 0%, rgba(255,255,255,1) 51%, rgba(255,184,184,1) 9%); */
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    z-index: 11000;
}

.navbar_for_dept p{
    margin: 0;
    padding: .9rem 1.5rem;
    display: flex;
    align-items: center;

}

.gallery_dept{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hod-card{
    transform: translate(-35px, -145px);
}

/* about part of dept */

.dep-p{
    margin: 0
}

.dep-h{
    text-align: left;
    font-size: 25px;
    color: rgb(46, 42, 83);
    padding: 10px 0px;
    font-weight: bold;
}

.d-read{
    font-size: 19px;
    background-color: #656EAF;
}

.numberse_here{
    font-size: 35px;
    font-weight: bolder;

}

.numbers p{
    margin: 0px;
}

.explore{
    display:flex;
    /* justify-content:end; */
    width: 100%;
    position: relative;
    padding-left: 60px;
}

.explore::before{
    position: absolute;
    content: "";
    top: 15px;
    left: -1px;
     background-color:brown;
     width: 50px;
     height: 1px;
}

.dept-title{
    font-size : 40px;
    text-align: left;
    color: rgb(19, 24, 83);
}

/* vision  */

.vision-content{
    background: #f1ecec6b;
    margin: 0px 95px 40px 95px;
    color: #13123e;
    padding: 37px;
    font-size: 19px;
    box-shadow: 0 0 18px 1px #b9b2b254, 0 0 2px 0px #000000;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    border-radius: 21px;
}
