/* .gallery {
    display: flex;
    padding: 40px;
    background-image: linear-gradient(#e8f0ff 0%, white 52.08%);
    color: #0e3481;
    min-height: 100vh;
  }
  
  .header .lead {
    max-width: 620px;
  }
  
  * Below CSS is completely optional *
  
  .gallery-container > a {
    max-width: 200px;
    max-height: 150px;
    padding: 5px;
    disply: inline-block;
  }
   */


   /* body{
	width: 80%;
	margin: auto;
} */

.header{
  font-size: 6vw;
  font-family: "Quicksand";
	text-align: center;
	align-content: center;
	margin-top: 5vw;
	margin-bottom: 5vw;
}

.gallery{
	display: flex;
}

.column{
  display: flex;
	margin-right: .5vw;
	width: 100%;
}

.item{
	overflow: hidden;
	position: relative;
	margin-bottom: .5vw;
	box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
	border-radius: 1%;
}

.imginfo{
	opacity: 0;
	bottom: -.78vw;
  left: .6vw;

  padding: .35vw;
	color: black;
  position: absolute;
  font-size: .65vw;
  font-family: "Quicksand";
  transition: .2s;
  background-color: white;
}

.imglink:hover + .imginfo, .imginfo:hover{
	opacity: 1;
  	bottom: .78vw;
}

.imgdesc{
  font-size: .58vw;
  color: dimgray;
  display: block;
}

.img{
	display: block;
	position: relative;
	transition: .2s;
	width: 100%;
	height: 100%;
}