<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<link rel="stylesheet" href="CAMPUS_LIFE1.css">
</head>
<body>
    <div class="parent-container">
    <h2><i class="fas fa-video"></i> Let's have a Campus Tour</h2>
    <h2><i class="far fa-image"></i> See Our Gallery</h2>
    <a href="#">SEE ALL</a>
    <br><br>
    <br><br>
    <div class="container">
        <div class="col1">
            <video id="video"src="5_6300889238535668990.mp4" autolay muted loop></video>
        </div>
        <div class="col2">
            <img src="image-S456.jpg" alt="">
            <img src="image-S457.jpg" alt="">
            <img src="image-S458.jpg" alt="">
        </div>
        <div class="col3">
            <img src="image-S469.jpg" alt="">
            <img src="image-S470.jpg" alt="">
            <img src="image-S468.jpg" alt="">
        </div>
        <div class="col4">
            <img src="image-S459.jpg" alt="">
            <img src="image-S467.jpg" alt="">
            <img src="image-S470.jpg" alt="">
        </div>
        <div class="col5">
            <img src="image-S456.jpg" alt="">
            <img src="image-S458.jpg" alt="">
            <img src="image-S459.jpg" alt="">
        </div>
    </div>
    <br>
    </div>
</body>
</html>
<script>
    document.getElementById('video').play();
</script>