.campus-container{
    position: relative;
    display: flex;
    width: 100%;
    height: 400px;
    transform: translateX(-50%);
    left: 50%;
}
.col11{
    position: relative;
    width: 50%;
}
.col11 img{
    position: relative;
    height: 100%;
    width: 100%;
}
.col12, .col13{
    position: relative;
    display: flex;
    width: 25%;
    flex-direction: column;
}
.col12 img, .col13 img{
    position: relative;
    width: 100%;
    height: 50%;
}
img{
    border: 1px solid white;
}
h1{
    border-left: 5px solid red;
    padding-left: 10px;
}
.parent-container p{
    line-height: 20px;
    text-align: justify;
    color: black;
    text-align: left;
    padding: 0px;
    margin: 40px 6px;
}
.parent-container{
    margin: 60px;
    margin-top: 40px;
    margin-right: 80px;
}
.parent-container a{
    position: absolute;
    right: 87px;
    top: 50px;
    text-decoration: none;
    color: rgb(199, 6, 6);
}

@media (max-width:590px){
    a{
        position: relative;
        top: initial;
        right: initial;
        margin-left: 5px;
    }
    .parent-container{
        margin: 5%;
        margin-top: 10%;
    }
    .container{
        margin-top: 10px;
    }
}