.nav_logo .nav_logo_img{
    width: 7rem;
    height: 7rem;
    border: none;
}


.header{
    position: relative;
    height: 100vh;
    /* background: rgb(214, 131, 36); */
    background: url("https://images.shiksha.com/mediadata/images/1488259418phpfB3vsL.jpeg") no-repeat center;
    background-size: 100% ;
    /* padding: 2rem 5rem; */
}

.navtop{
    padding: 1rem 5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    backdrop-filter: blur(10px);

}

.nav_address{
    display: flex;
    text-align:right;
    /* color: #fff; */
    font-weight: 500;
    gap: 0;
}

.nav_address p{
    padding: 0;
    margin: 0;
}
.nav_icon{
    display: flex;
    width: 55px;   
    font-size: 40px;
    padding: 0 .5rem;
}

.invisible{
    display: none;
}

.header_cards{
    /* position: absolute; */
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content:center;
    padding: 1rem 4rem;
    /* top: 60px; */
    /* bottom:-50px; */
    /* transform: translateY(55%); */
}


.header_card{
    display: flex;
    gap: 0;
    flex-direction: column;
    padding: 1rem 1rem;
    justify-content:center;
    align-items:center;
    max-height: 250px;
}
.header_card p{
        text-align: center;
        padding: 0;

}
.header_card h2{
        text-align: center;
        padding: 0;

}
.header_card div{
    font-size: 35px;
    padding: 0;
    margin: 0;
}

.white_card{
    background:#fff;
}

.red_card{
    background: rgb(212, 6, 6);
    color: #fff;
}

.text_middle{
    font-size: 70px;
    text-align: center;
    color: #fff;
    margin-top: 8rem;
    text-shadow: 3px 0px 2px rgba(22, 22, 22, 1);
    word-spacing: 2vw;    
}

.fixed_navbar{
    background:  #000 !important;
    height: 500px;
}

@media (max-width:900px) {
    .header_cards{
        grid-template-columns: repeat(2,1fr);
        place-items: center;
    }
    .text_middle{
        font-size: 4rem;
    }
    
}

@media (max-width:600px) {
    .header_cards{
        grid-template-columns: repeat(1,1fr);
        place-items: center;
        justify-content:center;
        align-items: center;
        padding: 0;
    }

    .header{
        padding: 2rem;
    }
    
    .text_middle{
        font-size: 4rem;
    }
    
}