/* @import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@100;300&display=swap');
/* *{
    font-family: 'Poppins', sans-serif;
}
*/

.newsContainer{
    margin:0;
    padding:0;
    background-color: rgb(214, 214, 214) !important;
    font-family: 'Poppins', sans-serif;
} 

.newsContainer h5{
    text-align: center;
}

.newsCard{
    border-radius: 15px !important;
    box-shadow: 0px 4px 8px 0 gray;
}

.title{
    padding: 10px;
    border-radius: 8px;
}

.scroll-bg{
    width: 100%;
    height: 20rem;
    padding-right: 10px;
    overflow-x: auto;
    overflow-y: scroll;
}

.scroll-bg li a{
    color: black;
    padding: 10px;
    text-decoration: none;
}

.scroll-bg li a:hover{
    color:rgb(65, 162, 207);
}

.newsContainer li{
    padding-bottom: 10px;
}

.container{
    padding: 30px;
}
.container-1{
  padding: 50px;
}
/* scroll bar */
::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px rgba(0,0,0,0.25); 
    border-radius: 10px;
  }
   
  ::-webkit-scrollbar-thumb {
    background: black; 
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: gray; 
  }

/* flex box */
  .container-1 div{
    padding: 10px;
  }  
  .box-1{
    /* flex: 1; */
    padding: 0px 20px;
  }
  .box-2{
    /* flex: 1; */
    padding: 0px 20px;
  }
  .box-3{
    /* flex: 1; */
    padding: 0px 20px;
  } 
  @media(min-width:768px){
    .container-1,.footer-container{
      display: flex;
      justify-content: space-evenly;
    }
  }

 
.footer-container{
  background-color: black;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
}

.footer-container div{
  padding: 10px;
}

.newsContainer h2{
  font-weight: bold;
  font-size: 24px;
  padding-bottom: 10px;
}

.newsContainer li a{
  color: white;
}

.footer_box{
  color: white;
  padding: 3px !important;
}

.footer_box1{
  color: white;
  align-items:center;
  padding:5px !important;
  text-align:center;
  font-weight: bold;
}

p{
  text-align: justify;
}



.footer_box2{
  padding: 3px !important;
  text-align: right !important;
  color: white;
  font-size:14px;
  font-weight: bold;
  margin-top: 20px;
}

.footer_box2 p{
  margin: 0px 9px;
  text-align: justify;
}

.footer_box3{
  color: white;
  padding: 3px !important;
}

nav{
  margin-top: 40px;
}

.last{
  background-color: rgb(139, 2, 2);
  color: whitesmoke
}