.div{
    padding: 20px 0px;
    background: #80808024;
}

.top ol{
    display: flex;
    list-style-type: none;
    justify-content: end;
    font-size: 13px;
    color: white;
    padding: 3px;
}

.top ol li{
    padding: 2px 5px;
    border-right: 2px solid;
}

.top{
    background-color: rgb(142 7 7);
}

.nav2{
    display: flex;
    padding: 4px 50px;
}

.partnav{
    display: flex;
    align-items: center;
}

.nav3 ol{
    display: flex;
    justify-content: center;
}

.nav3 ol li{
    padding: 2px 10px;
    list-style-type: none;
}

.div h1{
    margin: 25px 0px;
    margin-left: 160px;
    font-size: 21px;
    color: #8b0606;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
}

@media (max-width: "800px"){
    .div h1{
        margin-left: 90px;
    }
}

.topic{
    font-size: 29px;
    color: black;
    text-decoration: underline;
}
