
*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: sans-serif;
}

.about-hold{
    padding-bottom: 100px;
    padding-top: 80px;
    text-align: -webkit-center;
    background-color: #c5bebe27;
}

.aboutptu-card{
    display: flex;
    background-color: #660000;
    padding: 18px 15px 0px 32px;
    border: 2px solid #8e0606;
    height: auto;
    color: white;
    box-shadow: 0 0 10px #00000091;
    margin: 0px 45px;
    margin-top: 50px;
}


.aboutvc-card{
    display: flex;
    background-color: #660000;
    padding: 18px 15px 20px 32px;
    border: 2px solid #8e0606;
    height: auto;
    color: white;
    box-shadow: 0 0 10px #00000091;
    margin: 0px 45px;
    margin-top: 50px;
}

h1{
    display:inline;
    float:left;
}
h2{
    display:inline;
    padding-inline-start: 10px;
}

.ptuimg{
    float:left;
    margin-top: 10px;
    padding-inline-end: 10px;
    border: none;
    min-width: 50vh;
    min-height: 30vh;
    margin-right: 20px;
}

.content1{
    float: left;
    text-align: justify;
    margin-bottom: 10px;
}

p{
    margin: 50px;
    text-align: end;
}

.aboutptu-card .ptu-social i{
	color: gold;
	font-size: 25px;
	padding-left: 10px;
}

.button1{
    display: inline;
    float: right;
    margin-right: 20px;
    margin-top: 10px;
}

.readmore-btn1{
    display: inline;
    color: gold;
    background: none;
    font-size: large;
    border: none;
    cursor: pointer;
    box-shadow: none;
}

h3{
    display:inline;
    float:left;
}
h4{
    display:inline;
    padding-inline-start: 10px;
}

.vcimg{
    float:left; 
    padding-inline-end: 10px;
    border: none;    
    width: 250px;
    height: auto;
    margin-right: 20px;
}

.content2{
    float: left;
    text-align: justify;
    margin-bottom: 10px;
    padding-top: 10PX;
}

p2{
    margin: 50px;
    text-align: end;
}

.button2{
    display: inline;
    float: right;
    margin-inline-end: 50px;
    margin-top: 10px;
}

.readmore-btn2{
    color: gold;
    background: none;
    font-size: large;
    border: none;
    cursor: pointer;
    box-shadow: none;
}










