.card-cont{
    right: 0;
    bottom: 0;
    position: absolute;
    display: flex;
    align-items: center;
}

.card-cont::selection{
    display: none;
}


.slide-hold{
    width: 450px;
    overflow: hidden;
}

.slide{
    width: 1345px;
    z-index: 11;
    transition: 1s;
}

.card-cont button{
    cursor: pointer;
    background-color: rgb(148, 148, 148);
    box-shadow: none;
    color: #fff;
}

.small-cont{
    border-radius: 20px;
    width: 450px;
    height: 200px;
    background-color: #bbb8c1eb;
    padding: 15px 10px 0px 20px;
    margin: 10px;
    box-shadow: 0 0 4px #0000003d;
    text-align: left;

}

.parts img{
    height: 160px;
    width:540px;
}

.parts p{
    margin: 18px 14px 0px 14px;
    font-size: 12px;
}

.parts h4{
    font-weight: 700;
    font-size: 18px;
}

.parts h6{
    padding: 6px 12px 0px 12px;
}